.etoile{
    height: 15px;
    width: 15px;
    border: 1px solid black;
    transform: rotate(45deg);
    margin-right: 1%;
    cursor: pointer;
}
.avis{
    display: flex;
}
.etoile:hover{
    background-color: gold;
}


