.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.navbar-inner {
  background:transparent;
}
.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
header{
  background-color:rgb( 11,19,43);
}
.navbar-link{
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
 .navbar-link:hover{
   background-color:#1C2541;
   color:#fff;
   text-decoration: none;
   border-radius: 3px;
   
   
 }
 .f{
  float:right;
  display:inline-flex;
  line-height:52px;
  padding-right:14px;
  padding-top: 14px;
 }
  #foot{
    background-color: rgb(58,80,107);
  }